sudo: required
services:
  - docker

env:
  global:
    - GCP_PROJECT_ID=udemy-docker-k8s-tcg-1
    - IMAGE_NAME_BASE=joma74/udemy-docker-k8s-tcg/workflow-d-frontend
    - IMAGE_NAME_DEV=${IMAGE_NAME_BASE}/dev
    - IMAGE_NAME_PROD=${IMAGE_NAME_BASE}/prod:${TRAVIS_COMMIT}
    - IMAGE_PROD_ON_REPO=eu.gcr.io/${GCP_PROJECT_ID}/${IMAGE_NAME_PROD}
    - CLOUD_RUN_REGION=europe-west1
    - CLOUD_RUN_SERVICE=joma74-udemy-docker-k8s-tcg-workflow-d-frontend-prod
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1 # prevent gcloud from prompting, see https://cloud.google.com/sdk/gcloud/reference/#--quiet

before_install:
  - openssl aes-256-cbc -K $encrypted_9144e8bd33c7_key -iv $encrypted_9144e8bd33c7_iv -in travisci-deployer_udemy-docker-k8s-tcg-1_key.json.enc -out travisci-deployer_udemy-docker-k8s-tcg-1_key.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null
  - source "$HOME/google-cloud-sdk/path.bash.inc"
  - gcloud auth activate-service-account --key-file=travisci-deployer_udemy-docker-k8s-tcg-1_key.json # login, for service accounts
  - gcloud auth configure-docker # login to gcr, to enable "docker push"
  - gcloud config set project "${GCP_PROJECT_ID}"
  - docker build -t ${IMAGE_NAME_DEV} -f Dockerfile.dev .
  - docker build -t "${IMAGE_NAME_PROD}" .

script:
  - docker run -e CI=true "${IMAGE_NAME_DEV}" yarn run test
  - |
    set -ex;
    docker push "${IMAGE_PROD_ON_REPO}" && \
    gcloud run deploy "${CLOUD_RUN_SERVICE}" \
      --image="${IMAGE_PROD_ON_REPO}" \
      --platform=managed \
      --region="${CLOUD_RUN_REGION}" \
      --allow-unauthenticated;
    set +x

notifications:
  email:
    recipients:
      - dev-mails@gmx.net
